/* global styling */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    /* margin: 0 135px; */
}

header, main {
    margin: 0 135px;
}

.color-primary {
    color: #FF5400;
}

.color-secondary {
    color: #131318;
}

.color-gray {
    color: rgba(19, 19, 24, 0.70);
}

.color-white {
    color: white;
}

.btn-primary {
    width: 174px;
    height: 52px;
    background-color: #FF5400;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}

/* navbar */

header {
    margin-bottom: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    margin-right: 10px;
}

.nav-logo h1 {
    font-weight: 800;
    font-size: 2.25rem;
}

.nav-items ul {
    color: #424247;
    display: flex;
    list-style: none;
}

.nav-items ul li {
    margin: 0 30px;
    font-size: 1.125rem;
}

.nav-menu {
    display: none;
}

/* banner section */

header section {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 100%;
    height: 80vh;
    background-size: cover;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section .banner-heading {
    text-align: center;
    margin: 0 200px 20px;
    padding-top: 10px;
}

header section .banner-heading h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

header section .banner-heading p {
    font-size: 1rem;
    line-height: 26px;
}

header section .banner-menu {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 150px;
}

header section .banner-menu input {
    border: none;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    padding-left: 10px;
    outline: none;
}

.banner-menu .fa-angle-down {
    margin-left: -50px;
    margin-top: 18px;
}

.banner-menu button i {
    padding-right: 10px;
}

/* popular tours section */

#popular-tours {
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
}

#popular-tours div h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

#popular-tours div p {
    font-size: 1rem;
    line-height: 26px;
    margin: 20px 0;
}

#popular-tours div ul {
    padding-left: 20px;
}

#popular-tours div ul li {
    font-size: 1rem;
    line-height: 26px;
    margin: 14px 0;
}

/* choose destination section */

#choose-destination {
    margin-bottom: 100px;
}

#choose-destination .choose-destination-heading h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

#choose-destination div p {
    text-align: center;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 20px;
}

.destination-img .row-1 div, .destination-img .row-2 div, .destination-img .row-3 div {
    position: relative;
}

.destination-img .row-1 h1, .destination-img .row-2 h1, .destination-img .row-3 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.destination-img .row-1, .destination-img .row-2, .destination-img .row-3 {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.destination-img div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* why choose section */

#choose-us {
    margin-bottom: 100px;
}

.choose-us-heading {
    text-align: center;
    margin-bottom: 70px;
}

.choose-us-heading h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.choose-us-heading p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 65%;
    margin: 0 auto;
}

.choose-us-info h1 {
    font-size: 24px;
    font-weight: 800;
    margin: 30px 0;
}

.choose-us-info p {
    font-size: 1rem;
    line-height: 26px;
}

.choose-us-info .info-row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.choose-us-info .info-row-1 div {
    height: 270px;
    padding: 30px 0 0 30px;
}

.choose-us-info .info-row-1 .feature-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-us-info .info-row-1 .feature-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.feature-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 48%;
    margin: 30px auto;
    height: 270px;
    padding: 30px 0 0 30px;
}

/* offers section */

#offers {
    margin-bottom: 100px;
}

.offers-heading {
    margin-bottom: 20px;
}

.offers-heading h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.offers-heading p {
    font-size: 1rem;
    line-height: 26px;
}

#offers .vacation {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid #d3d3e4;
    border-radius: 16px;
    padding: 10px;
    width: 50%;
}

.vacation div h1 {
    font-size: 24px;
    font-weight: 800;
}

.vacation div p {
    font-size: 1rem;
    margin: 16px 0;
}

#offers .vacation div img {
    width: 120px;
}

#offers .slider {
    display: flex;
    align-items: center;
    gap: 20px;
}

.adventure {
    width: 50%;
    position: relative;
}

.adventure img {
    width: 100%;
    height: 175px;
    border-radius: 16px;
}

.adventure .info {
    position: absolute;
    top: 18px;
    left: 18px;
}

.adventure .info p {
    margin: 16px 0 28px;
}

/* newsletter section */

#newsletter {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 16px;
    margin-bottom: 100px;
}

.newsletter-info {
    padding: 30px;
    border: 1px solid #FF5400;
    border-radius: 16px;
}

.newsletter-info h1 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.newsletter-info hr {
    margin: 16px 0;
}

.newsletter-info input {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding-left: 15px;
    margin-bottom: 16px;
}

.newsletter-info button {
    width: 409px;
    height: 52px;
}

.newsletter-photo {
    position: relative;
}

.newsletter-photo img {
    width: 100%;
    height: 100%;
}

.newsletter-photo div {
    width: 280px;
    height: 100px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    right: 5px;
}

/* footer */

footer {
    background: rgba(19, 19, 24, 0.05);
    height: 350px;
    margin: 0;
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.logo h1 {
    font-size: 2rem;
    font-weight: 800;
}

.logo img {
    padding-right: 10px;
}

footer .footer-info {
    width: 55%;
    text-align: center;
    margin: 0 auto 30px;
    font-size: 1rem;
    line-height: 26px;
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

footer .social i {
    font-size: 30px;
}

footer hr {
    margin: 30px 135px;
}

.footer-ending {
    margin-top: 50px;
    text-align: center;
}

/* mobile style */

@media screen and (max-width: 600px) {
    header, main {
        margin: 0 20px;
    }

    .nav-logo img {
        width: 17%;
        height: auto;
    }

    .nav-logo h1 {
        font-size: 25px;
    }

    .nav-items {
        display: none;
    }
    
    .nav-menu {
        display: block;
    }

    .nav-menu i {
        font-size: 25px;
    }

    header section {
        display: block;
    }

    header section .banner-heading {
        text-align: center;
        margin: 0 20px;
    }

    header section .banner-heading h1 {
        font-size: 22px;
        font-weight: 800;
        margin-top: 20px;
    }

    header section .banner-heading p {
        font-size: 14px;
    }

    header section .banner-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }

    header section .banner-menu input {
        width: 255px;
        height: 52px;
    }

    header section .banner-menu button {
        width: 255px;
        height: 52px;
    }

    #popular-tours {
        display: flex;
        flex-direction: column;
    }

    #popular-tours div h1 {
        font-size: 1.25rem;
    }

    #popular-tours div p {
        font-size: 14px;
    }

    #popular-tours div ul li {
        font-size: 14px;
    }

    #popular-tours div img {
        width: 100%;
    }

    .destination-img .row-1, .destination-img .row-2, .destination-img .row-3 {
        display: flex;
        flex-direction: column;
    }

    .choose-us-heading p {
        width: 100%;
    }

    .choose-us-info .info-row-1 {
        display: block;
    }

    .choose-us-info .info-row-1 div {
        height: 300px;
        padding: 30px 0 0 30px;
    }

    .choose-us-info .info-row-1 .feature-1 {
        margin-bottom: 30px;
    }

    .feature-3 {
        width: 90%;
        height: 300px;
    }

    #offers .slider {
        display: block;
    }

    #offers .vacation {
        display: flex;
        align-items: center;
        gap: 0;
        border: 1px solid #d3d3e4;
        border-radius: 16px;
        padding: 10px;
        width: 93%;
    }

    .adventure {
        margin-top: 30px;
        width:100%;
        position: relative;
    }

    .adventure .info p {
        margin: 16px 0 10px;
    }

    #offers .vacation div img {
        border-radius: 16px;
    }

    #newsletter {
        display: flex;
        flex-direction: column;
    }

    .newsletter-info input, .newsletter-info button {
        width: 260px;
        height: 52px;
    }

    .newsletter-photo img {
        width: 335px;
        height: 335px;
    }

    .newsletter-photo div {
        width: 230px;
        height: 100px;
    }

    footer {
        height: 400px;
        padding-top: 30px;
    }

    .logo img {
        width: 35px;
        height: 35px;
        padding-right: 10px;
    }

    .logo h1 {
        font-size: 21.543px;
        font-weight: 800;
    }

    footer .footer-info {
        width: 80%;
    }

    footer hr {
        margin: 30px 20px;
    }
}